<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <style>
    body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
  <link rel="stylesheet" href="css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="css/main.css">

  <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
  <script src="js/vendor/vue.js"></script>
</head>

<body>
  <!--[if lt IE 8]> <p class="browserupgrade">You are using an
        <strong>outdated</strong> browser. Please <a
        href="http://browsehappy.com/">upgrade your browser</a> to improve your
        experience.</p> <![endif]-->
  <div class="container">

    <!-- Static navbar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
            aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Vue</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="#">Rene Fernando Menjivar Aguilera</a>
            </li>
            <li>
              <a href="#">FPI</a>
            </li>
            <li>
              <a href="#">devfernando95@gmail.com</a>
            </li>

          </ul>

        </div>
        <!--/.nav-collapse -->
      </div>
      <!--/.container-fluid -->
    </nav>
  </div>

  <div class="" id="app">
    <div class="container">
      <div class="row">
        <div id="clientes" class="col-sm-12 col-md-4">
          <div class="form-group">
            <h3>
              <span class="label label-info">Obtener Clientes:{{cantidad}}</span></h3>
            <div class="input-group">
              <input type="number" name="" class="form-control" id="" v-model="cantidad">
              <span class="input-group-btn">
                <button class="btn btn-default" @click="obtenerClientes">Obtener Clientes</button>
              </span>
            </div>
          </div>

        </div>
        <div id="filtros" class="col-sm-12 col-xs-12 col-md-4">
          <h3 class="col-lg-12">
            <span class=" label label-primary">Información a mostrar</span></h3>
          <div class="col-sm-4 col-xs-6">
            <div class="input-group checkbox  ">
              <label for="">
                <input id="genero" type="checkbox" @click="filtrarInfo" class="checkbox" value="genero" checked="checked">Genero
              </label>
            </div>

          </div>
          <div class=" col-sm-4 col-xs-6">
            <div class="input-group checkbox">
              <label for="titulo">
                <input id="titulo" type="checkbox" @click="filtrarInfo" class="checkbox" value="titulo" checked="checked">Titulo</label>
            </div>

          </div>
          <div class=" col-sm-4 col-xs-6">
            <div class="input-group checkbox ">
              <label for="">
                <input id="ciudad" type="checkbox" @click="filtrarInfo" class="checkbox" value="cuidad" checked="checked">Cuidad</label>
            </div>

          </div>

          <div class="col-sm-4 col-xs-6">
            <div class="checkbox input-group  ">
              <label for="">
                <input id="email" type="checkbox" @click="filtrarInfo" class="checkbox" value="email" checked="checked">Email</label>
            </div>

          </div>
          <div class=" col-sm-4 col-xs-6">
            <div class="checkbox input-group ">
              <label for="">
                <input id="nombres" type="checkbox" @click="filtrarInfo" class="checkbox" value="nombres" checked="checked">Nombres</label>
            </div>

          </div>
          <div class=" col-sm-4 col-xs-6">
            <div class="checkbox input-group ">
              <label for="">
                <input id="apellidos" type="checkbox" @click="filtrarInfo" class="checkbox" value="apellidos" checked="checked">Apellidos</label>
            </div>

          </div>

        </div>
        <div id="buscar" class="col-sm-12 col-md-4 hidden-sm hidden-xs">
          <h3>
            <span class="label label-primary">Buscar por nombre:</span></h3>
          <div class="input-group">
            <input type="text" name="" class="form-control" id="" placeholder="Buscar" v-model="cast">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3" v-for="(cliente,conta) in clientes" v-show="aplicarfiltro(cliente.name.first + cliente.name.last)">
          <div class="panel panel-default">
            <div class="panel-heading">
              <label v-if="titulo" class="panel-title">{{cliente.name.title}}</label>
            </div>
            <div class="panel-body">
              <img class="col-xs-6 col-md-6" v-bind:src="cliente.picture.large" alt="">
              <label v-if="nombres" class="label label-default col-xs-6 col-md-6">{{cliente.name.first}}</label>
              <label v-if="apellidos" for="" class="label label-default col-xs-6 col-md-6">{{cliente.name.last}}</label>
              <label v-if="genero" for="" class="label label-default col-xs-6 col-md-6">{{cliente.gender}}</label>
              <label v-if="email" for="" class="label label-default col-xs-6 col-md-6">{{cliente.email}}</label>
              <label v-if="cuidad" for="" class="label label-default col-xs-6 col-md-6">{{cliente.location.city}}</label>
            </div>
            <div class="panel-footer">
              <button class="btn btn-success" v-on:click="aceptarCliente(conta)">Aceptar</button>
              <button class="btn btn-warning" @click="rechazarCliente(conta)">Rechazar</button>
            </div>
          </div>

        </div>
      </div>

      <div class="row">
        <nav class="navbar navbar-default navbar-fixed-bottom">
          <div class="container">
            <div class="row">
              <h1>
                <span class="col-xs-12 col-md-6 label label-info">Aceptados:{{aceptados}}</span></h1>
              <h1>
                <span class="col-xs-12 col-md-6 label label-danger">Rechazados:{{rechazados}}</span></h1>
            </div>

          </div>
        </nav>
      </div>
    </div>
  </div>

  <hr>

  <footer></footer>
  </div>
  <!-- /container -->
  <script src="./js/vendor/jquery-1.11.2.min.js"></script>
  <script src="js/vendor/bootstrap.min.js"></script>
  <script src="js/vendor/axios.js"></script>
  <script src="js/main.js"></script>

</body>

</html>